footer {
  background-color: $green;
  text-align: center;
  padding: 1.8rem 0;
  color: $black;
  p {
    margin-bottom: 0;
  }

  strong {
    color: $white;
  }

  span {
    font-weight: 300;
    color: $tan;
  }
}
