$black: #0b0b0b;
$white: #fff;
$tan: #dcdfd4;
$green: #366f75;
$tan-light: #f2f4f0;
$gray: #3d3b3a;

$serif: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida,
  "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
$sans-serif: system, -apple-system, ".SFNSText-Regular", "San Francisco",
  "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif; ;
